body{
    background-image: linear-gradient(to right top, #f9b365, #e8bd6b, #d9c676, #cbcd84, #bfd295);   
}

.container-presentacion{
    display: flex;
    flex-direction: column;
    
}

h1{
    color: white;
    font-style: italic;
}

.container-presentacion img{ 
    max-height: 100%;
    max-width: 60%;
    border-radius: 20%;
    margin-top: 65px;
    margin-left: 80px;
}

.container-presentacion p{
    text-align: center;
    margin-top: 20px; 
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    max-width: 75%;
    max-height: 100%;

}

.container-proyecto p{
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    max-width: 100%;
    max-height: 100%;

}
.container-tabla{
    margin-top: 40px;
}

.container-proyectos{
    margin-top: 50px;
}
.carousel-item img {   
    max-width: 80%; /* Ajusta el ancho máximo de las imágenes al 50% */
    border-radius: 25%;
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    margin: auto;
}
.carousel {
    max-width: 80%; /* Ajusta el ancho máximo del carrusel */
    max-height: 100%;
    margin: auto;
}

  footer {
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(to right top, #abbcd7, #99a7c0, #8792aa, #757e94, #646b7f); 
    color: white;
    margin-top: 50px;
    height: 150px;
  }
  
  footer img{
    height: 80px;
  }

  footer p{
    font-size: 15px;
  }

@media only screen and (max-width: 600px) {

    navbar{
        height: 200px;
        width: 325px;
    }

    .container-presentacion img{ 
        max-height: 100%;
        max-width: 60%;
        border-radius: 20%;
        margin-top: 35px;
        margin-left: 60px;
    }
    
    .container-presentacion p{
        text-align: center;
        margin-top: 20px; 
        color: white;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 13px;
        max-width: 75%;
        max-height: 100%;
    
    }

    footer {
        text-align: center;
        padding: 5px;
        background-image: linear-gradient(to right top, #abbcd7, #99a7c0, #8792aa, #757e94, #646b7f); 
        color: white;
        margin-top: 50px;
        height: 200px;
        width: 325px;
      }
      
      footer img{
        height: 80px;
      }
    
      footer p{
        font-size: 15px;
      }
}