body{
    background-color: #223b52;    
}
h1{
    font-size: 30px;
    color:white;
    text-align: center;
}
h2{
    font-size: 20px;
    color:white;
    text-align: center;
}

p{
    font-size: 20px;
    color:white;
    text-align: center;
}